html,
body {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 32px;
}

.account-book {
  background-image: url('../images/account-book.svg');
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

.unicorn {
  background-image: url('../images/unicorn.svg');
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

.unicorn__big {
  background-image: url('../images/unicorn.svg');
  height: 120px;
  width: 120px;
  background-repeat: no-repeat;
  background-size: contain;
}

.sprite {
  height: 80px;
  width: 80px;
}

.row__item {
  height: 40px;
  width: 40px;
}

.object {
  height: 120px;
  width: 120px;
}