@import './colors';
@import './icons';
@import './mixins';
@import './motion';

/* Styles */
html {
  overflow: auto;
}

.gob {
  position: absolute;
  width: 100%;
  z-index: 1000000000;

  &--hide {
    animation: fallOut 0.5s ease-in-out 1;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-gap: 24px;
    margin: 0 72px;
  }

  &__overlay {
    animation: 0.2s fadeIn;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    background-color: $gray1;
    opacity: 0.96;
    z-index: 0;
  }

  &__header {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    height: 64px;
    margin: 0 0 32px;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 2;
    background: $gray5;

    &--show {
      visibility: visible;
      animation: loadCards 0.5s ease-in-out 1;
    }
  }

  &__logoCont {
    display: flex;
    align-items: center;
  }

  &__logo {
    height: 32px;
    width: 32px;
  }

  &__countCont {
    display: flex;
    align-items: center;
  }

  &__count {
    &--svg {
      background: $primary;
      color: $white;
      @include font-family();
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 40px;
      margin: 0 8px;
      font-weight: 500;
      min-width: 24px;
      padding: 8px 16px;
      border: none;

      &:hover {
        box-shadow: 4px 4px rgba(0, 0, 0, 0.15);
        cursor: pointer;
      }
    }
  }

  &__feedback {
    @include header-icon();
    @include font-family();
    margin: 0 0 0 24px;

    & path {
      fill: $white;
    }

    &:hover {
      background: $primary;
    }

    &:hover::after {
      bottom: 4px;
      transform: translateY(100%);
      font-size: 14px;
      background: $white;
      position: absolute;
      padding: 8px 12px;
      width: auto;
      border-radius: 6px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
      animation: 0.3s ease-in fadeIn;
      color: $gray5;
      content: 'Send feedback';
    }

    & svg {
      height: 20px;
      width: 20px;
    }
  }

  &__close {
    @include header-icon();
    margin: 0 0 0 24px;

    & path {
      stroke: $white;
    }

    &:hover {
      background: $primary;
    }

    & svg {
      height: 16px;
      width: 16px;
    }
  }

  &__card {
    display: none;
    flex-direction: column;
    z-index: 1;
    background: $white;
    border-radius: 12px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    height: fit-content;
    @include font-family();

    &--show {
      display: flex;
      animation: loadCards 0.5s ease-in-out 1;
    }

    &:hover .gob__btns {
      opacity: 1;
      transform: translateY(0%);
      transition: all 0.25s ease-in-out;
    }

    &__svg {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 160px;
      padding: 24px 48px;
      overflow: hidden;

      &--white {
        background: $gray4;
        border-radius: 12px 12px 0 0;
      }

      &__wrapper {
        position: relative;
        height: 0;
        width: 100%;
        padding: 0 0 100% 0;
      }

      &__trick {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        overflow: visible;
      }
    }

    &__footer {
      margin: 0 20px;
      line-height: 1.4;
      padding: 12px 0 20px;
      min-height: 60px;
      border-top: 1px solid $gray2;
      position: relative;
      overflow: hidden;
      display: grid;
      align-items: start;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 8px;
      align-content: start;

      & h3,
      h4 {
        margin: 0;
        padding: 0;
        @include font-family();
      }

      & h3 {
        color: $gray4;
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
      }

      & h4 {
        text-transform: uppercase;
        letter-spacing: 0.6px;
        font-weight: 600;
        color: $gray3;
        margin: 0 0 2px;
        font-size: 11px;
      }
    }
  }

  &__typecont {
    display: flex;
    flex-direction: column;
  }

  &__sizecont {
    display: flex;
    flex-direction: column;
  }

  &__btns {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    background: $white;
    padding: 0 0 10px;
    grid-gap: 8px;
    position: absolute;
    top: 8px;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transform: translateY(20%);
    transition: all 0.25s ease-in-out;

    &--block {
      grid-template-columns: 1fr;
    }
  }

  &__btn {
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid $gray2;
    color: $gray4;
    cursor: pointer;
    outline: none;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;

    &:hover {
      background: $primary;
      color: $white;
      border: 1px solid $primary;
    }

    &--download::before {
      content: 'Download';
    }

    &--pngdownload::before {
      content: 'Export PNG';
    }

    &--jpgdownload::before {
      content: 'Export JPG';
    }

    &--copy::before {
      content: 'Copy';
    }

    &--cors-btn {
      &::before {
        content: 'Open in new tab';
      }
    }

    &--success {
      background: $success !important;
      border: 1px solid $success !important;
      color: white;
      transition: all 0.2s ease-in-out;

      &--download::before {
        content: 'Gobble';
        transition: all 0.2s ease-in-out;
      }

      &--pngdownload::before {
        content: 'Exported';
        transition: all 0.2s ease-in-out;
      }

      &--jpgdownload::before {
        content: 'Exported';
        transition: all 0.2s ease-in-out;
      }

      &--copy::before {
        content: 'Copied!';
        transition: all 0.2s ease-in-out;
      }
    }
  }

  &__tag {
    &--sprite {
      @include special-tag();

      &:hover::after {
        @include special-tag-hover();
        content: 'Output from SVG sprites is broken at the moment. The code is closed off in something scary called the "shadow DOM".';
      }
    }

    &--symbol {
      @include special-tag();

      &:hover::after {
        @include special-tag-hover();
        content: 'Output from SVG symbols are unreliable and will likely contain several nested XML icons inside.';
      }
    }

    &--cors {
      @include special-tag();
      height: 28px;
      width: 28px;

      &::before {
        content: $cors-alert-icon;
      }

      &:hover::after {
        @include special-tag-hover();
        content: "This SVG can't be optimized due to security policy and must be opened in a new tab.";
      }
    }
  }

  &__noGobbler {
    z-index: 5000;
    padding: 16px 24px;
    background: $white;
    @include font-family();
    font-size: 20px;
    color: $gray4;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    line-height: 20px;
    border-radius: 60px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    animation: 3s loadSadness ease-in-out 1;
  }

  &__display-none {
    display: none;
  }
}
