@import './colors';
@import './icons';
@import './mixins';
@import './motion';
@import './modal';

/* Styles */
html {
  overflow: auto;
}

body {
  margin: 0;
  @include font-family();
  background-color: $gray1;
  color: $gray5;
  font-size: 14px;
}

button {
  @include font-family();
  border: none;

  &:focus {
    border: 2px solid lighten($primary, 10%);
    outline: none;
  }
}

a {
  color: $primary;
  text-decoration: none;
}

a:visited {
  color: $primary;
}

.gob {
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 24px;
    margin: 24px 72px 48px;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    margin: 0 72px 48px;
    border-top: 1px solid $gray2;

    & ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      font-size: 14px;
      margin: 20px 0 8px;

      & li {
        margin: 4px 8px 4px 0;
      }
    }

    & span {
      padding: 0 4px 0 0;
      margin: 0 0 12px 0;
    }
  }

  &__mast {
    margin: 32px 72px 0;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: $gray5;

    &__count {
      font-size: 19px;
      padding: 8px 0;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 32px;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
    background: $gray5;
  }

  &__logoCont {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 180px;
  }

  &__countCont {
    display: flex;
    align-items: center;
  }

  &__card {
    display: none;
    flex-direction: column;
    z-index: 1;
    background: $white;
    border-radius: 12px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    height: fit-content;
    font-family: inherit;

    &--show {
      display: flex;
      animation: loadCards 0.5s ease-in-out 1;
    }

    &:hover .gob__btns {
      opacity: 1;
      transform: translateY(0%);
      transition: all 0.25s ease-in-out;
    }

    &__svg {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 160px;
      padding: 24px 48px;
      overflow: hidden;

      &--white {
        background: $gray2;
        padding: 8px 32px;
        margin: 16px;
        border-radius: 12px;
      }

      &__wrapper {
        position: relative;
        height: 0;
        width: 100%;
        padding: 0 0 100% 0;
      }

      &__trick {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        overflow: visible;
      }
    }

    &__footer {
      margin: 0 20px;
      line-height: 1.4;
      padding: 12px 0 20px;
      border-top: 1px solid $gray2;
      position: relative;
      display: grid;
      align-items: start;
      grid-template-columns: 1fr 1fr;
      grid-gap: 8px;
      align-content: start;

      & h3,
      h4 {
        margin: 0;
        padding: 0;
        font-family: inherit;
      }

      & h3 {
        color: $gray5;
        font-size: 18px;
        font-weight: 500;
        text-transform: capitalize;
      }

      & h4 {
        text-transform: uppercase;
        letter-spacing: 0.6px;
        font-weight: 600;
        color: $gray4;
        margin: 0 0 2px;
        font-size: 12px;
      }
    }
  }

  &__typecont {
    display: flex;
    flex-direction: column;
  }

  &__sizecont {
    display: flex;
    flex-direction: column;
  }

  &__btns {
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 2fr 40px;
    background: $white;
    padding: 0 0 10px;
    grid-gap: 8px;
    position: absolute;
    top: 8px;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transform: translateY(5%);
    transition: all 0.15s ease-in-out;

    &--block {
      grid-template-columns: 1fr;
    }
  }

  &__btn--primary {
    background: $primary;
    color: $white;
    font-family: inherit;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-weight: 500;
    padding: 16px 20px;
    line-height: 1;
    border: 2px solid $primary;

    &:hover {
      background: darken($primary, 3%);
      color: $white;
      cursor: pointer;
    }
  }

  &__btn {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid $gray3;
    color: $gray5;
    background: white;
    cursor: pointer;
    outline: none;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: normal;
    text-transform: none;
    max-height: 40px;

    &:hover {
      background: $primary;
      color: $white;
      border: none;
    }

    &--download::before {
      content: 'Download';
    }

    &--copy::before {
      content: 'Copy';
    }

    &--more {
      padding: 8px;

      &:hover .gob__menu {
        display: flex;
      }

      & svg {
        width: 20px;
        height: 20px;
      }
    }

    &--cors-btn {
      &::before {
        content: 'Open in new tab';
      }
    }

    &--success {
      background: $success !important;
      border: 1px solid $success !important;
      color: white;
      transition: all 0.2s ease-in-out;

      &--download::before {
        content: 'Gobble';
        transition: all 0.2s ease-in-out;
      }

      &--copy::before {
        content: 'Copied';
        transition: all 0.2s ease-in-out;
      }
    }
  }

  &__menu {
    background: $white;
    position: absolute;
    top: -110px;
    right: 0;
    width: max-content;
    z-index: 100;
    padding: 0;
    border-radius: 6px;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: 0.1s ease-in fadeIn;

    & ul {
      list-style: none;
      padding: 0;
      float: left;
      text-align: start;
    }

    & button {
      padding: 8px 16px;
      background: none;
      border: none;
      width: 100%;
      text-align: start;
      color: $gray5;
      font-size: 14px;

      &:hover {
        cursor: pointer;
        background: $primary;
        color: $white;
      }
    }

    & hr {
      border-top: 1px solid $gray2;
      border-style: solid;
      color: transparent;
    }
  }

  &__tag {
    &--symbol {
      @include special-tag();

      &:hover::after {
        @include special-tag-hover();
        content: "This is a sprite master symbol. This SVG will likely contain several nested XML icons inside and won't render by itself.";
      }
    }

    &--cors {
      @include special-tag();
      height: 40px;
      width: 40px;

      &::before {
        content: $cors-alert-icon;
      }

      &:hover::after {
        @include special-tag-hover();
        content: "For security reasons, CORS SVGs must be opened in a new tab and won't be included in a zipped download.";
      }
    }
  }

  &__display-none {
    display: none;
  }
}
