/* Colors */
$brandAccent: #fa555c;
$lightGray: #eef0f5;
$darkGray: #2d3341;
$successGreen: #10d173;
$white: #ffffff;

/* Variables */
$check-icon: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10' width='10'><path d='M1 6.714L4.429 9 9 1' stroke='white' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'/></svg>");

$close-icon: url("data:image/svg+xml;charset=UTF-8, <svg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'><path d='M19.528 18.46l-8.471-8.464 8.471-8.464A.753.753 0 0 0 18.464.467L10 8.94 1.536.467A.753.753 0 1 0 .472 1.532l8.471 8.464-8.471 8.465a.75.75 0 0 0 0 1.064.75.75 0 0 0 1.064 0L10 11.053l8.464 8.472a.75.75 0 0 0 1.064 0 .75.75 0 0 0 0-1.064z' fill='#5E6175' fill-rule='evenodd'/></svg>");


/* Mixins */
@mixin flex-center() {
  align-items: center;
  justify-content: center;
}

/* Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 7%, 0) scale(0.9);
  }

  80% {
    transform: translate3d(0, -1%, 0) scale(1.01)
  }

  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

/* CSS */
.gobbler {
  z-index: 10000000;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  padding: 72px;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;

  &__close {
    height: 32px;
    width: 32px;
    border-radius: 100px;
    position: fixed;
    top: 24px;
    right: 24px;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: .5s ease-in-out fadeIn;

    & svg {
      height: 12px;
      width: 12px;
    }
  }

  &__overlay {
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    animation: 0.2s ease-in-out fadeIn;
    background-color: #000;
    opacity: .85;
  }

  & .card {
    height: auto;
    max-width: 220px;
    min-width: 180px;
    border-radius: 12px;
    background: white;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    animation: 0.5s ease-in-out fadeIn;
    z-index: 10000001;
    position: relative;
    margin: 12px;

    &__clone {
      padding: 40px 60px 80px;

      &__wrapper {
        position: relative;
        height: 0;
        width: 100%;
        padding: 0 0 100% 0;
      }

      &__svg {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        overflow: visible;
      }
    }

    &__btn-container {
      width: auto;
      position: absolute;
      display: flex;
      right: 8px;
      bottom: 8px;
    }

    &__btn {
      position: relative;
      height: 32px;
      width: 32px;
      margin: 4px;
      background: $lightGray;
      border-radius: 100px;
      display: flex;
      @include flex-center();

      & svg {
        height: 24px;
        width: 24px;
      }

      & .gray {
        fill: $darkGray;
      }

      & .accent {
        fill: $darkGray;
      }

      &.success:hover .accent {
        fill: $successGreen;
      }

      &:hover .accent {
        fill: $brandAccent;
        transition: 0.2s;
      }

      &:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        cursor: pointer;
      }

      &::before {
        max-height: 32px;
        padding: 8px 12px;
        background-color: $brandAccent;
        border-radius: 80px;
        color: #fff;
        font-family: -apple-system, BlinkMacSystemFont, “Roboto”, “Droid Sans”,
          “Helvetica Neue”, Helvetica, Arial, sans-serif;
        font-size: 10px;
        opacity: 0;
        text-align: center;
        transition: all 0.4s ease;
        white-space: nowrap;
        position: absolute;
        top: -24px;
        left: 50%;
        transform: translate(-50%, 0%);
      }

      &:hover::before {
        opacity: 1;
        top: -30px;
        transition: all 200ms ease-in-out;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      &.success::before {
        background-color: $successGreen;
        transition: all 0.4s ease-in-out;
        transition: all 0.4s;
        padding: 8px 10px;
      }

      &--d-orig {
        & .gray {
          fill: $darkGray;
        }

        & .optimized-circle {
          fill: transparent;
        }

        & .optimized-plus {
          fill: transparent;
        }

        &:before {
          content: "Download Original";
        }

        &.success:before {
          content: $check-icon " Done";
        }
      }

      &--c-orig {
        & .gray {
          fill: $darkGray;
        }

        & .optimized-circle {
          fill: transparent;
        }

        & .optimized-plus {
          fill: transparent;
        }

        &:before {
          content: "Copy Original";
        }

        &.success:before {
          content: $check-icon " Copied";
        }
      }

      &--d-opti {
        & .gray {
          fill: $darkGray;
        }

        & .optimized-plus {
          fill: $white;
        }

        & .optimized-circle {
          fill: $darkGray;
        }

        &:hover .optimized-circle {
          transition: 0.2s;
          fill: $brandAccent;
        }

        &.success:hover .optimized-circle {
          fill: $successGreen;
        }

        &:before {
          content: "Download Optimized";
        }

        &.success:before {
          content: $check-icon " Done";
        }
      }

      &--c-opti {
        & .gray {
          fill: $darkGray;
        }

        & .optimized-plus {
          fill: $white;
        }

        & .optimized-circle {
          fill: $darkGray;
        }

        &:hover .optimized-circle {
          transition: 0.2s;
          fill: $brandAccent;
        }

        &.success:hover .optimized-circle {
          fill: $successGreen;
        }

        &:before {
          content: "Copy Optimized";
        }

        &.success:before {
          content: $check-icon " Copied";
        }
      }
    }
  }
}