@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.dark {
  color-scheme: dark;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  @apply surface text;
}

#root {
  min-height: 100dvh;
}
