/* Components */

.label {
  @apply mb-1 block text-sm font-medium text-gray-900 dark:text-white;
}

.input,
.select {
  @apply block w-full rounded-lg border border-gray-300 bg-transparent 
  p-2 text-sm text-gray-900 focus:border-red-500 focus:ring-red-500 dark:border-gray-600 
  dark:bg-white/5 dark:text-white dark:placeholder-gray-400 dark:ring-white/10
  dark:focus:border-red-500 dark:focus:ring-red-500;
}

.input-invalid {
  @apply border-2 border-red-500 dark:border-red-500;
}

.checkbox {
  @apply h-4 w-4 cursor-pointer rounded border-gray-300 bg-gray-100 text-red-600 focus:ring-2 focus:ring-red-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-red-600;
}

.cm-editor {
  flex: 1;
  height: 100%;
  font-size: 0.75rem;
}

.cm-scroller {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  padding: 1rem;
  padding-bottom: 5rem;
  @apply scrollbar-thin scrollbar-thumb-gray-600;
}

/* Fix for JSX preview */
.cm-padding-fix .cm-scroller {
  padding: 0;
}

.cm-content {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 24px;
}

.input-color {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
  @apply h-8 w-8;
}

.input-color::-webkit-color-swatch {
  border: none;
  border-radius: 10px;
  padding: 0;
  @apply rounded-lg shadow-md;
}

.input-color::-webkit-color-swatch-wrapper {
  border: 1px solid rgba(209, 209, 209, 0.6);
  padding: 0;
  @apply rounded-lg;
}

.editor-btn {
  @apply focus flex items-center gap-1 rounded-lg bg-gray-600/30 px-2 py-1 font-semibold 
  text-white transition-all duration-200 ease-in-out hover:bg-gray-600/60;
}

/* Layout */

.top-bar,
.main-bar {
  @apply text surface flex h-16 shrink-0 items-center gap-x-4 border-b 
  border-gray-200 px-2 dark:border-gray-800 sm:px-6 lg:gap-x-4 lg:px-8;
}

.main-bar {
  @apply h-12;
}

.collection-item {
  @apply text focus flex w-full items-center gap-x-2 rounded-md px-2 py-1 text-sm
  font-normal leading-6 transition-all duration-300 hover:bg-gray-50 dark:hover:bg-gray-800;
}

.export-label {
  @apply block text-xs;
}

.export-input,
.export-select {
  @apply my-1 block w-full rounded-lg border border-gray-300 
  bg-transparent p-2 text-sm text-gray-900 placeholder:text-gray-500 focus:border-red-500 
  focus:ring-red-500 dark:border-gray-600 dark:bg-white/5 dark:text-white
  dark:placeholder-gray-400 dark:ring-white/10 dark:focus:border-red-500 dark:focus:ring-red-500;
}

.context-content {
  @apply text animate-slide-up-fade rounded-lg bg-white px-1.5 py-1 shadow-md dark:bg-gray-800;
}
